let mapleader=" "
let maplocalleader="\\"

set backspace=indent,eol,start
set formatoptions=tcqj
set listchars=tab:>\ ,trail:-,nbsp:+
set shortmess=filnxtToOF

set scrolloff=5
set incsearch
set ideajoin
set hlsearch
set ignorecase
set smartcase

" Don't use Ex mode, use Q for formatting.
map Q gq

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
let g:argtextobj_pairs="[:],(:),<:>"

Plug 'tommcdo/vim-exchange'
Plug 'preservim/nerdtree'
let g:NERDTreeMapCloseDir = 'h'
let g:NERDTreeMapCloseChildren = 'H'
let g:NERDTreeMapActivateNode = 'l'

"set multiple-cursors
set multicursor

set mini-ai

"set which-key
"set notimeout
"set timeoutlen=5000

set switch
let g:switch_definitions = 'group:basic,group:java'
let g:switch_custom_definitions = [
\     switchWords(['debug', 'info', 'warn', 'error']),
\     switchNormalizedCaseWords(['GET', 'POST', 'PUT', 'DELETE']),
\     switchWords(['val', 'var']),
\ ]
nnoremap <C-s> :Switch<CR>
nnoremap <C-S-s> :SwitchReverse<CR>

set peekaboo

set matchit

" Increase Window Height
nmap <C-Up> <Action>(IncrementWindowHeight)
" Decrease Window Height
nmap <C-Down> <Action>(DecrementWindowHeight)
" Decrease Window Width
nmap <C-Left> <Action>(DecrementWindowWidth)
" Increase Window Width
nmap <C-Right> <Action>(IncrementWindowWidth)


" Escape and Clear hlsearch
"nmap <esc> :nohlsearch<CR>
nmap <leader>ur :nohlsearch<CR>

" Add Comment Below
nmap gco o<c-o>gcc
" Add Comment Above
nmap gcO O<c-o>gcc

nnoremap <leader>ls :source ~/.ideavimrc<CR>
nnoremap <leader>le :e ~/.ideavimrc<CR>

"""Git stuffs
nmap <leader>gtl <Action>(Annotate)
nmap <leader>gg <Action>(Git.Branches)
"nmap <leader>gg <Action>(ActivateCommitToolWindow)
"nmap <leader>gG <Action>(ActivateVersionControlToolWindow)
nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)

nmap <leader>cr <Action>(RenameElement)
nmap <leader>cf <Action>(ReformatCode)
nmap <leader>co <Action>(OptimizeImports)
nmap <leader>ca <Action>(ShowIntentionActions)
nmap <leader>cs <Action>(FileStructurePopup)

nmap <C-/> <Action>(ActivateTerminalToolWindow)
nmap <leader>ot <Action>(Terminal.OpenInTerminal)

""" Debug stuffs
" Run with Args
nmap <leader>da <Action>(ChooseRunConfiguration)
" Toggle Breakpoint
nmap <leader>db <Action>(ToggleLineBreakpoint)
" Breakpoint Condition
nmap <leader>dB <Action>(AddConditionalBreakpoint)
" Step Over
nmap <leader>dn <Action>(StepOver)
" Step Into
nmap <leader>di <Action>(StepInto)
" Step Out
nmap <leader>do <Action>(StepOut)
" Continue
nmap <leader>dc <Action>(Resume)
nmap <leader>dR <Action>(Debug)
nmap <leader>dr <Action>(Run)
nmap <leader>dg <Action>(RunClass)
nmap <leader>dG <Action>(RunContextGroup)
" Terminate
nmap <leader>dt <Action>(Stop)
" Pause
nmap <leader>dp <Action>(Pause)
" Run Last
nmap <leader>dl <Action>(Rerun)
"nmap <leader>dt <Action>(ActivateDebugToolWindow)
nmap <leader>dd <Action>(Debugger.RemoveAllBreakpointsInFile)
nmap <leader>dD <Action>(Debugger.RemoveAllBreakpoints)

nmap <leader>de <Action>(EvaluateExpression)

vnoremap < <gv
vnoremap > >gv

nnoremap x "_x
xnoremap x "_x
nnoremap r "_r
xnoremap r "_r

map H ^
map L $

nmap s ciw
nmap X daw

"nnoremap <c-h> <c-w>h
"nnoremap <c-l> <c-w>l
"nnoremap <c-j> <c-w>j
"nnoremap <c-k> <c-w>k

nmap zM <Action>(CollapseAllRegions)
nmap zR <Action>(ExpandAllRegions)

nmap go <Action>(EditorStartNewLine)
nmap gO <Action>(EditorStartNewLineBefore)

nmap gn <Action>(GotoNextElementUnderCaretUsage)
nmap gN <Action>(GotoPrevElementUnderCaretUsage)
nmap <c-g>n <Action>(NextOccurrence)
nmap <c-g>N <Action>(PreviousOccurrence)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
nmap ]t <Action>(NextTab)
nmap [t <Action>(PreviousTab)
nmap ]g <Action>(VcsShowNextChangeMarker)
nmap [g <Action>(VcsShowPrevChangeMarker)
nmap ]c <Action>(JumpToNextChange)
nmap [c <Action>(JumpToLastChange)

nmap <leader><leader> <Action>(GotoFile)
nmap <leader>/ <Action>(TextSearchAction)
nmap gl <Action>(ShowHoverInfo)
nmap gr <Action>(ShowUsages)
nmap gR <Action>(FindUsages)
nmap gL <Action>(QuickImplementations)
nmap gD <Action>(GotoDeclaration)
nmap gy <Action>(GotoTypeDeclaration)
nmap gI <Action>(GotoImplementation)
nmap gtm <Action>(GotoSuperMethod)
nmap gtt <Action>(GotoTest)
nmap gte <Action>(ExpressionTypeInfo)
" Search/replace (Neovim-style)
nmap <leader>r :%s/
vmap <leader>r "zy<ESC>:%s/<C-R>z//g<Left><Left>

" Refactoring menu (moved from <leader>r)
nmap <leader>cR <Action>(Refactorings.QuickListPopupAction)

nmap <c-w><c-v> <Action>(SplitVertically)
nmap <c-w><c-s> <Action>(SplitHorizontally)
nmap <c-w><c-u> <Action>(Unsplit)
nmap <c-w><c-m> <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w><c-q> <Action>(CloseEditor)

nmap <leader>e :NERDTreeToggle<CR>

nmap <leader>wh <Action>(HideAllWindows)
nmap <leader>wa <Action>(CloseAllEditorsButActive)

nmap <leader>ff <Action>(SelectInProjectView)
nmap <leader>fe <Action>(ShowNavBar)
nmap <leader>fr <Action>(RecentFiles)
nmap <leader>fnb <Action>(NewScratchBuffer)
nmap <leader>fnf <Action>(NewScratchFile)

nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>sH <Action>(HighlightUsagesInFile)
nmap <leader>sl <Action>(RecentLocations)
nnoremap <leader>sw viw:action FindInPath<CR>

map <leader>oa <Action>(ActivateAugmentToolWindow)
map <leader>ob <Action>(ActivateBuildToolWindow)
map <leader>or <Action>(ActivateRunToolWindow)
map <leader>og <Action>(ActivateGradleToolWindow)

nmap <leader>A ggVG
nmap <leader>a mzggVG"+y'z

" Yank to clipboard
nmap <leader>y "+yy
vmap <leader>y "+y

xnoremap J :move'>+<CR>gv=gv
xnoremap K :move-2<CR>gv=gv

nmap <leader>ya <Action>(CopyAbsolutePath)
nmap <leader>yn <Action>(CopyFileName)
nmap <leader>yp <Action>(CopyContentRootPath)

" Neovim-style copy filename/path
nmap <leader>bf <Action>(CopyFileName)
nmap <leader>bF <Action>(CopyAbsolutePath)

nmap <leader>unt <Action>(NavBarLocationTop)
nmap <leader>unb <Action>(NavBarLocationBottom)
nmap <leader>unh <Action>(NavBarLocationHide)

" Toggle Relative Number
nmap <leader>uL :set relativenumber!<CR>
" Toggle Line Numbers
nmap <leader>ul :set number!<CR>
" Toggle Wrap
nmap <leader>uw :setlocal wrap!<CR>

" Signature Help in Insert Mode
imap <C-k> <C-o><Action>(ParameterInfo)

nmap <leader>, <Action>(Switcher)

nmap w [w
vap w [w
nmap e ]w
vmap e ]w

nmap <leader>bt <Action>(ShowBookmarks)
nmap <leader>bb <Action>(ToggleBookmark)
nmap <leader>be <Action>(EditBookmark)
nmap <leader>bn <Action>(GotoNextBookmark)
nmap <leader>bp <Action>(GotoPreviousBookmark)

map g<C-n> <Action>(SelectAllOccurrences)

map <leader>sf <action>(com.mituuz.fuzzier.Fuzzier)
map <leader>fm <action>(com.mituuz.fuzzier.FuzzyMover)
map <leader>sF <action>(com.mituuz.fuzzier.FuzzierVCS)
map <leader>sg <action>(com.mituuz.fuzzier.FuzzyGrep)
