**/.luarc.json

# Tmux
tmux/plugins
tmux/resurrect

# Fish
fish/include/ignore/*

# Zsh
zsh/extra.zsh
zsh/zsh_plugins.zsh

# Nvim
nvim/plugin/*_compiled.lua
nvim/lazy-lock.json
fish/stuffs/extra.fish
